{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h1 class="display-4 logo-font text-black">
          Bitz of everything are here
        </h1>
        <div class="my-5">
          <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
          </h4>
        </div>
      </div>
      <div class="col-md-6 position-relative px-0">
        <img class="w-100 h-100 position-absolute top-0 end-0 object-fit-cover" src="{{ MEDIA_URL }}0900631B81B0C2D9M.jpg" alt="0900631B81B0C2D9M.jpg">
        <div id="carouselExampleSlidesOnly" class="carousel slide h-100" data-ride="carousel">
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img class="d-block w-100 h-100" src="{{ MEDIA_URL }}0900631B8142A3AFM.jpg" alt="0900631B81B0C2D9M.jpg">
            </div>
            <div class="carousel-item h-100">
              <img class="d-block w-100 h-100" src="{{ MEDIA_URL }}0900631B8142A3AFM.jpg" alt="0900631B81C9387BM.jpg">
            </div>
            <div class="carousel-item h-100">
              <img class="d-block w-100 h-100" src="{{ MEDIA_URL }}0900631B818ABCB9M.jpg" alt="0900631B81D676AEM.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
  .object-fit-cover {
    object-fit: cover;
  }
  </style>
  
<footer>
    <div class="container newsletter-signup">
        <h3>Sign up for our newsletter</h3>
        <form method="post" action="{% url 'newsletter_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <br>
    <br>
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
{% endblock %}